%h1.general-title-margin Cart
= form_tag update_cart_path do
  - if presenter.cart_empty?
    %h2.text-center.mt-10.mb-40 Cart is empty
  - else
    -# .hidden-xs
    = render partial: 'products', locals: { products: presenter.products }
    -# .visible-xs
    -#   = render partial: 'products_xs', locals: { products: presenter.products }
  .general-order-wrap
    .row
      .col-sm-4
        = fields_for 'coupon', presenter.coupon do |coupon_fields|
          .form-group.general-input-group{class: presenter.coupon.error_class}
            = label_tag 'coupon_code', 'Enter Your Coupon Code', class: 'control-label'
            = coupon_fields.text_field :code, placeholder: 'Enter Your Coupon Code', class: 'form-control'
            - if presenter.coupon.helper?
              %span.help-block= presenter.coupon.helper
          %div
            -# %button.btn.btn-primary.mr-5.mb-15.visible-xs-inline-block Apply Coupon
            = button_tag 'Update Cart', class: 'btn btn-primary mt-30 mb-15 res-block'
      .col-sm-8
        .text-center.general-text-right
          %p.in-gold-500.font-18 Order Summary
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16 Subtotal:
              %td
                %p.font-16= presenter.subtotal
            %tr
              %td
                %p.font-16 Coupon:
              %td
                %p.font-16= presenter.saved
            %tr
              %td
                %strong.font-18 Order Total:
              %td
                %strong.font-18= presenter.order_total
          = link_to 'Checkout', checkout_path(:address), class: 'btn btn-default mb-20 visible-xs-inline-block'
- unless presenter.cart_empty?
  = button_to 'Checkout', checkout_path(:address), method: :get, class: 'btn btn-default mb-20 hidden-xs center-block'
