%h1.general-title-margin Cart
.hidden-xs
  = render partial: 'product_table', locals: { products: presenter.products }
.visible-xs
  = render partial: 'xs_products', locals: { products: presenter.products }
.general-order-wrap
  .row
    .col-sm-4
      .input-group.general-input-group
        %label.input-label Enter Your Coupon Code
        %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code"}
        %div
          %button.btn.btn-primary.mr-5.mb-15.visible-xs-inline-block Apply Coupon
          %button.btn.btn-primary.mb-15.res-block Update cart
    .col-sm-8
      .res-mr-200.text-center.general-text-right
        %p.in-gold-500.font-18 Order Summary
        %table.general-summary-table.general-summary-table-right.general-text-right
          %tr
            %td
              %p.font-16 Subtotal:
            %td
              %p.font-16= presenter.subtotal
          %tr
            %td
              %p.font-16 Coupon:
            %td
              %p.font-16= presenter.coupon
          %tr
            %td
              %strong.font-18 Order Total:
            %td
              %strong.font-18= presenter.order_total
        = link_to checkout_path, 'Checkout', class: 'btn btn-default mb-20 visible-xs-inline-block'
