%h1.general-title-margin Cart
= form_tag cart_path, method: :put do
  - if presenter.cart_empty?
    %h2.text-center.mt-10.mb-40 Cart is empty
  - else
    = render partial: 'order_item/table', locals: { items: presenter.items }
  .general-order-wrap
    .row
      .col-sm-4
        = fields_for 'coupon', presenter.coupon do |coupon_fields|
          .form-group.general-input-group{class: presenter.coupon.error_class}
            = label_tag 'coupon_code', 'Enter Your Coupon Code', class: 'control-label'
            = coupon_fields.text_field :code, placeholder: 'Enter Your Coupon Code', class: 'form-control'
            - if presenter.coupon.helper?
              %span.help-block= presenter.coupon.helper
          %div
            = button_tag 'Update Cart', class: 'btn btn-primary mt-30 mb-15 res-block'
      .col-sm-8
        = render partial: 'orders/summary', locals: { order: presenter.order_summary }
        = link_to 'Checkout', presenter.checkout_path, class: 'btn btn-default mb-20 visible-xs-inline-block'
- unless presenter.cart_empty?
  = button_to 'Checkout', presenter.checkout_path, method: :get, class: 'btn btn-default mb-20 hidden-xs center-block'
