%table.table.table-hover
  %tr.no-hover
    %th.col-pic.pl-0
      %span.in-grey-600 Product
    %th.col-title
    %th.col-price
      %span.in-grey-600 Price
    %th.col-quantity
      %span.in-grey-600 Quantity
    %th.col-total
      %span.in-grey-600 SubTotal
    %th.col-close
  - items.each do |item|
    = fields_for 'items[]', item do |item_fields|
      %tr
        %td
          .general-img-wrap-table
            = image_tag item.cover, class: 'cart-img-shadow pull-left width-full'
        %td
          %p.general-title= item.title
          - if item.description
            %p.in-grey-600.font-weight-light= item.description
        %td
          %span.font-16.in-gold-500= item.price
        %td
          .input-group.general-position{class: item.error_class, data: {quantity: true}}
            - if item.editable
              %a.input-link{href: "#"}
                %i.fa.fa-minus.line-height-40
              = item_fields.text_field :quantity, class: 'form-control quantity-input'
              %a.input-link{href: "#"}
                %i.fa.fa-plus.line-height-40
            - else
              %span.ml-30= item.quantity
        %td
          %span.font-16.in-gold-500= item.subtotal
        - if item.editable
          %td
            = link_to order_item_path(item), method: :delete, class: 'close general-cart-close' do
              %span{'aria-hidden': "true"} &times;
