= render layout: 'checkout/layout' do
  %h3.general-subtitle= t('shipping_method')
  .hidden-xs.mb-res-50
    = form_for current_order, url: wizard_path, method: :put, class: 'res-mb-100' do |f|
      %table.table.table-hover
        %thead
          %tr
            %th.col-method
              %span.in-grey-600.ml-40= t('delivery.title')
            %th
              %span.in-grey-600= t('delivery.days')
            %th
              %span.in-grey-600= t('delivery.price')
        %tbody
          - presenter.deliveries.each do |delivery|
            %tr
              %td
                .form-group.radio.mt-0.mb-0
                  %label.radio-label
                    = radio_button_tag :delivery_id,
                      delivery.id,
                      delivery.selected?,
                      class: 'radio-input',
                      hidden: true
                    %span.radio-icon
                    %span.radio-text= delivery.title
              %td
                %span= delivery.days
              %td
                %span.font-16.in-gold-500= delivery.price
      .general-text-align
        = render partial: 'order_summary'
      .text-center
        = f.submit t('simple_form.titles.save_and_continue'),
          class: 'btn btn-default center-block mb-20'
