= render layout: 'checkout/layout' do
  %h3.general-subtitle Credit Card
  = form_for current_order, url: wizard_path, method: :put, class: 'max-600 mb-80' do |f|
    = f.simple_fields_for :card, presenter.card do |sf|
      = sf.input :number
      .row
        .col-sm-6
          = sf.input :name
        .col-sm-3
          = sf.input :expiration_date, as: :string
        .col-sm-3
          = sf.input :cvv, wrapper_html: { class: 'relative' } do
            = sf.input_field :cvv, class: 'form-control', as: :string
            %i.fa.fa-question-circle.general-form-help.font-18{'data-tipsy': true, 'title': t('checkout.cvv-help')}
    .general-text-align
      = render partial: 'order_summary'
    .text-center
      = f.submit t('simple_form.titles.save_and_continue'),
        class: 'btn btn-default center-block mb-20'

