- presenter.products.each do |product|
  .general-cart-item.divider-lg-bottom
    %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
      %span{'aria-hidden': "true"} &times;
    .general-img-wrap-table
      = image_tag product.cover, class: 'cart-img-shadow'
    %p.title= product.title
    %table.table
      %tr
        %td
          %span.in-grey-600 Price
        %td
          %span.font-16.in-gold-500= product.price
      %tr
        %td.vertical-middle
          %span.in-grey-600 Quantity
        %td
          = quantity_widget(product)
          -# .input-group
          -#   %a.input-link{href: "#"}
          -#     %i.fa.fa-minus.line-heaght-40
          -#   %input.form-control.quantity-input{type: "text"}
          -#   %a.input-link{href: "#"}
          -#     %i.fa.fa-plus.line-heaght-40
      %tr
        %td
          %span.in-grey-600 SubTotal
        %td
          %span.font-16.in-gold-500= product.subtotal

